   
   
   body{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: aliceblue;
    border-radius: 50px;
}
.containerarea{
    align-items: center ;
    justify-content: center;
}
span{
    color: red;
}
h1{
    background-color: brown;
    padding: 0;
    margin: 0;
}
form {
    margin-top: 50px;
    background-color: white;
    padding: 40px 60px;
}